@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Great+Vibes&display=swap');

:root {
    --primary-color: #E8C7C8; 
}

body {
    height:100%;
    font-family: 'Cormorant Garamond', 'serif';
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

/* Navigation */
.navbar-nav .nav-item .nav-link {
    color: #000;
    font-size: large;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-toggler {
    background-color: var(--primary-color);
}

/* Hero Section */
.hero-container {
    background-image: url("/img/hero.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-label {
    color: #fff;
    font-size: 2vw;
}

.hero-title {
    color: #fff;
    font-size: 4vw;
    font-family: 'Great Vibes', 'cursive';
}

.rsvp-button {
    height: 40px;
    width: 150px;
    background-color: var(--primary-color);
    border: none;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    color: #000;
}

.rsvp-button:hover {
    background-color: #fff;
    color: #000;
}


/* Media Queries */
@media screen and (min-width: 390px) {
    .hero-container {
      background-position: center;
      height: 30vh;
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
      background-position: center;
      height: 50vh;
    }
}

@media screen and (min-width: 1200px) {
    .hero-container {
      background-position: center;
      height: 70vh;
    }
}

@media screen and (min-width: 1400px) {
    .hero-container {
      background-position: center;
      height: 90vh;
    }
}