@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Great+Vibes&display=swap');

:root {
    --primary-color: #E8C7C8; 
}

body {
    height:100%;
    font-family: 'Cormorant Garamond', 'serif';
    background-color: #f4f0ed;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

/* Navigation */
.navbar-nav .nav-item .nav-link {
    color: #000;
    font-size: large;
}

.nav-link:hover {
    color: var(--primary-color) !important;
}

.navbar-toggler {
    background-color: var(--primary-color);
}

/* Hero Section */
.hero-container {
    background-image: url("/img/hero.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-label {
    color: #fff;
    font-size: 2vw;
}

.hero-title {
    color: #fff;
    font-size: 4vw;
    font-family: 'Great Vibes', 'cursive';
}

.rsvp-button {
    background-color: var(--primary-color);
    border: none;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    border-radius: 4px;
    color: #000;
    margin-top: 20px;
    width: 10vw;
}

.rsvp-button:hover {
    background-color: #f0d1d1;
    color: #000;
}

/* Home Page Cards */
.home-cards {
    justify-content: center;
    align-items: center;
}

.home-cards .card {
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 30px;
    height: 450px;
}

.home-cards .card .card-title {
    font-family: 'Great Vibes', 'cursive';
    font-size: 30px;
    text-align: center;
}

.home-cards .card .button a {
    background-color: var(--primary-color);
    border: none;
    font-weight: 700;
    color: #000;
}

.home-cards .card .button a:hover {
    background-color: #f0d1d1;
    color: #000;
}

.home-cards .card i {
    font-size: 30px;
    background: var(--primary-color);
    border-radius: 50%;
    padding: 30px;
}

/* Venue Cards */
.venue-cards {
    justify-content: center;
    align-items: center;
}

.venue-cards .card {
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 30px;
    height: 300px;
}

.venue-cards .card .card-title {
    font-family: 'Great Vibes', 'cursive';
    font-size: 30px;
    text-align: center;
}

.venue-cards .card .card-text-time {
    font-size: 20px;
    text-align: center;
}

.venue-cards .card .card-text-date {
    font-size: 20px;
    text-align: center;
}

.venue-cards .card i {
    font-size: 30px;
    background: var(--primary-color);
    border-radius: 50%;
    padding: 30px;
}

/* Footer */
footer {
    margin-top: 20px;
    height: 20px;
    text-align: center;
    font-family: 'Great Vibes', 'cursive';
    background-color: var(--primary-color);
}

/* Partials */
.section-img {
    padding: 50px 0px 50px 0px;
    max-width: 100%;
    height: auto;
}

.section-title {
    font-family: 'Great Vibes', 'cursive';
    font-size: 40px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}

.white-border {
    border: #fff;
    border-style: double;
}

.blush-border {
    border: var(--primary-color);
    border-style: double;
}


/* Media Queries */
@media screen and (min-width: 350px) {
    .hero-container {
      background-position: center;
      height: 30vh;
    }

    .rsvp-button {
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
    .hero-container {
      background-position: center;
      height: 50vh;
    }

    .rsvp-button {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-container {
      background-position: center;
      height: 70vh;
    }
}

@media screen and (min-width: 1400px) {
    .hero-container {
      background-position: center;
      height: 90vh;
    }
}